<base-page title="Travel Information">
  <p>
    Thank you for making the trip to join us on our special day! We have reserved rooms for you at a discounted price at the
    Raleigh Marriott Crabtree Valley.
    <a href="http://www.marriott.com/meeting-event-hotels/group-corporate-travel/groupCorp.mi?resLinkData=James/Bobbitt%20Wedding%5Erdunc%60jbbjbba%7Cjbbjbbb%60119%60USD%60false%606%609/1/17%609/4/17%608/11/17&app=resvlink&stop_mobi=yes"
      target="_blank">Click here</a> to make a reservation.
  </p>
  <hr>
  <section>
    <header>
      <h2>Fun things to do</h2>
    </header>
    <p>Not from the Raleigh area? Here are some great places to eat and fun ways to pass the time.</p>
  </section>
</base-page>