<base-page title="Travel Information">
  <p>
    Thank you for making the trip to join us on our special day! We have reserved rooms for you at a discounted price at the
    Raleigh Marriott Crabtree Valley.
    <a href="http://www.marriott.com/meeting-event-hotels/group-corporate-travel/groupCorp.mi?resLinkData=James/Bobbitt%20Wedding%5Erdunc%60jbbjbba%7Cjbbjbbb%60119%60USD%60false%606%609/1/17%609/4/17%608/11/17&app=resvlink&stop_mobi=yes"
      target="_blank">Click here</a> to make a reservation.
  </p>
  <hr>
  <section>
    <header>
      <h2>Fun things to do</h2>
    </header>
    <p>Not from the Raleigh area? Here are some great places to eat and fun ways to pass the time.</p>

    <section class="things-to-do">
      <header class="row">
        <h3 class="display--inline-block">Farmers' Market</h3>
        <span>
          <a href="http://www.godowntownraleigh.com/farmers-market" target="_blank">Website</a> |
          <a href="https://www.google.com/maps/dir/Raleigh+Marriott+Crabtree+Valley,+4500+Marriott+Dr,+Raleigh,+NC+27612/Farmers+Market+Dr,+Raleigh,+NC/@35.7882342,-78.6948268,12z/data=!4m13!4m12!1m5!1m1!1s0x89acf638c75d4a81:0x3d892c179c835223!2m2!1d-78.677875!2d35.842797!1m5!1m1!1s0x89acf57beaec89c7:0xf6dd16113d762b1e!2m2!1d-78.6640635!2d35.7627683" target="_blank">Directions</a>
        </span>
      </header>
      <p>
        A great place to buy produce grown by local farmers,
        as well as multiple restaurants where you can eat amazing food.
      </p>
    </section>

    <section class="things-to-do">
      <header class="row">
        <h3 class="display--inline-block">The Flea Market</h3>
        <span>
          <a href="http://www.raleighfleamarket.net/" target="_blank">Website</a> |
          <a href="https://www.google.com/maps/dir/Raleigh+Marriott+Crabtree+Valley,+4500+Marriott+Dr,+Raleigh,+NC+27612/Raleigh+Flea+Market,+Blue+Ridge+Road,+Raleigh,+NC/@35.8200412,-78.7247965,13z/data=!3m1!4b1!4m13!4m12!1m5!1m1!1s0x89acf638c75d4a81:0x3d892c179c835223!2m2!1d-78.677875!2d35.842797!1m5!1m1!1s0x89acf44a07094af5:0xcedebd3dcd82a33f!2m2!1d-78.7072563!2d35.7952948" target="_blank">Directions</a>
        </span>
      </header>
      <p>
        If you are looking for something to do before the wedding
        on Saturday or afterwards on Sunday, the Flea Market is a
        great place to purchase some really cool items for a great price.
      </p>
    </section>

    <section class="things-to-do">
      <header class="row">
        <h3 class="display--inline-block">Umstead Park</h3>
        <span>
          <a href="https://www.ncparks.gov/william-b-umstead-state-park" target="_blank">Website</a> |
          <a href="https://www.google.com/maps/dir/Raleigh+Marriott+Crabtree+Valley,+Marriott+Drive,+Raleigh,+NC/William+B.+Umstead+State+Park+-+Glenwood,+Glenwood+Avenue,+Raleigh,+NC/@35.8667663,-78.7501134,13z/data=!3m1!4b1!4m13!4m12!1m5!1m1!1s0x89acf638c75d4a81:0x3d892c179c835223!2m2!1d-78.677875!2d35.842797!1m5!1m1!1s0x89acf0b483b5b02f:0x825952d04aa6cc8f!2m2!1d-78.7503386!2d35.8903808" target="_blank">Directions</a>
        </span>
      </header>
      <p>
        One of North Carolina's State Parks that spans all the way from Raleigh to Cary.
        Laura and I have enjoyed many hikes and long runs at this location.
      </p>
    </section>

    <section class="things-to-do">
      <header class="row">
        <h3 class="display--inline-block">Beasley's Chicken and Honey</h3>
        <span>
          <a href="http://ac-restaurants.com/beasleys/" target="_blank">Website</a> |
          <a href="https://www.google.com/maps/dir/Raleigh+Marriott+Crabtree+Valley,+Marriott+Drive,+Raleigh,+NC/Beasley's+Chicken+%2B+Honey,+237+S+Wilmington+St,+Raleigh,+NC+27601/@35.8098119,-78.6934708,13z/data=!3m1!4b1!4m13!4m12!1m5!1m1!1s0x89acf638c75d4a81:0x3d892c179c835223!2m2!1d-78.677875!2d35.842797!1m5!1m1!1s0x89ac5f726d9198e3:0x9ede9af11fda231a!2m2!1d-78.638033!2d35.77705" target="_blank">Directions</a>
        </span>
      </header>
      <p>
        Chicken and waffles often get a weird look when people first hear about the combination
        but we love them and Beasley's is one of the best places to get it.
      </p>
    </section>

    <section class="things-to-do">
      <header class="row">
        <h3 class="display--inline-block">Goodberry's</h3>
        <span>
          <a href="http://www.goodberrys.com" target="_blank">Website</a> |
          <a href="https://www.google.com/maps/dir/Raleigh+Marriott+Crabtree+Valley,+Marriott+Drive,+Raleigh,+NC/Goodberry's+Frozen+Custard,+13260+Strickland+Rd,+Raleigh,+NC+27613/@35.875583,-78.7381364,13z/data=!3m1!4b1!4m13!4m12!1m5!1m1!1s0x89acf638c75d4a81:0x3d892c179c835223!2m2!1d-78.677875!2d35.842797!1m5!1m1!1s0x89acf9e1b08b1179:0x672d2b364168c8dc!2m2!1d-78.7266205!2d35.9079003" target="_blank">Directions</a>
        </span>
      </header>
      <p>
        Our favorite place to get a cup of ice cream and local to the Raleigh/Durham/Cary area.
      </p>
    </section>

    <section class="things-to-do">
      <header class="row">
        <h3 class="display--inline-block">N.C. Museum of Art</h3>
        <span>
          <a href="http://ncartmuseum.org" target="_blank">Website</a> |
          <a href="https://www.google.com/maps/dir/Raleigh+Marriott+Crabtree+Valley,+4500+Marriott+Dr,+Raleigh,+NC+27612/North+Carolina+Museum+of+Art,+Blue+Ridge+Road,+Raleigh,+NC/@35.8247612,-78.7284205,13z/data=!3m1!4b1!4m13!4m12!1m5!1m1!1s0x89acf638c75d4a81:0x3d892c179c835223!2m2!1d-78.677875!2d35.842797!1m5!1m1!1s0x89acf5d3536f686b:0x841b73fc133ba241!2m2!1d-78.7021387!2d35.8104354" target="_blank">Directions</a>
        </span>
      </header>
      <p>
        A great art museum and the location of our wedding! The indoor
        galaries are a great place to visit on a hot day, and there are
        multiple greenways if you are in the mood for a long walk or run.
      </p>
    </section>

    <section class="things-to-do">
      <header class="row">
        <h3 class="display--inline-block">N.C. Museum of History</h3>
        <span>
          <a href="http://ncmuseumofhistory.org" target="_blank">Website</a> |
          <a href="https://www.google.com/maps/dir/Raleigh+Marriott+Crabtree+Valley,+Marriott+Drive,+Raleigh,+NC/nc+museum+of+history/@35.8123254,-78.6780274,13z/data=!3m1!4b1!4m13!4m12!1m5!1m1!1s0x89acf638c75d4a81:0x3d892c179c835223!2m2!1d-78.677875!2d35.842797!1m5!1m1!1s0x89ac5f6c15513303:0xe3121d70393b84ef!2m2!1d-78.638485!2d35.781864" target="_blank">Directions</a>
        </span>
        <h3 class="display--inline-block no-margin-top">N.C. Museum of Natural Sciences</h3>
        <span>
          <a href="http://naturalsciences.org" target="_blank">Website</a> |
          <a href="https://www.google.com/maps/dir/Raleigh+Marriott+Crabtree+Valley,+Marriott+Drive,+Raleigh,+NC/North+Carolina:+Museum+of+Natural+Sciences,+West+Jones+Street,+Raleigh,+NC/@35.8124846,-78.6862929,13z/data=!3m1!4b1!4m13!4m12!1m5!1m1!1s0x89acf638c75d4a81:0x3d892c179c835223!2m2!1d-78.677875!2d35.842797!1m5!1m1!1s0x89ac5f6c191dfca3:0x890017d89d12f83e!2m2!1d-78.6395557!2d35.7821824" target="_blank">Directions</a>
        </span>
      </header>
      <p>
        Laura and I both made frequent visits to these museums when we were younger,
        and they are still a fun way to spend an afternoon in Downtown Raleigh.
      </p>
    </section>

    <section class="things-to-do">
      <header class="row">
        <h3 class="display--inline-block">Crabtree Valley Mall</h3>
        <span>
          <a href="https://crabtree-valley-mall.com" target="_blank">Website</a> |
          <a href="https://www.google.com/maps/dir/Raleigh+Marriott+Crabtree+Valley,+Marriott+Drive,+Raleigh,+NC/Crabtree+Valley+Mall,+Glenwood+Avenue,+Raleigh,+NC/@35.8403002,-78.6838872,16z/data=!3m1!4b1!4m13!4m12!1m5!1m1!1s0x89acf638c75d4a81:0x3d892c179c835223!2m2!1d-78.677875!2d35.842797!1m5!1m1!1s0x89acf63e00fbe1ef:0xb9303ab6613755f6!2m2!1d-78.680159!2d35.8398098" target="_blank">Directions</a>
        </span>
      </header>
      <p>
        The best mall in North Carolina with lots of good shops and restaurants.
      </p>
    </section>

    <section class="things-to-do">
      <header class="row">
        <h3 class="display--inline-block">North Hills Mall</h3>
        <span>
          <a href="http://visitnorthhills.com" target="_blank">Website</a> |
          <a href="https://www.google.com/maps/dir/Raleigh+Marriott+Crabtree+Valley,+Marriott+Drive,+Raleigh,+NC/The+Cir+At+N+Hills+St,+Raleigh,+NC+27609/@35.8380492,-78.6424859,17z/data=!4m13!4m12!1m5!1m1!1s0x89acf638c75d4a81:0x3d892c179c835223!2m2!1d-78.677875!2d35.842797!1m5!1m1!1s0x89ac5896cccaba4f:0xcf212b911388b2d!2m2!1d-78.6426384!2d35.838093" target="_blank">Directions</a>
        </span>
      </header>
      <p>
        A great outdoor mall with fun shops and restaurants only a couple miles from where
        Laura and I grew up.
      </p>
    </section>
  </section>
</base-page>