<base-page title="RSVP">
  <p *ngIf="details">{{details}}</p>

  <div *ngIf="!isAuthorized" class="rsvp-validation-form">
    <p>
      In order to see the details of our wedding and to RSVP, please enter the 
      event code found on your invitation.
    </p>
    <input #eventKey type="text" class="form-control" placeholder="Please enter the event code on the details card" (keyup.enter)="validateGuest(eventKey.value)">
    <button type="button" class="btn btn-success" (click)="validateGuest(eventKey.value)">Submit</button>
  </div>

  <div *ngIf="isAuthorized" class="rsvp-form">
    <input type="text" class="form-control" placeholder="Please enter your address as shown on the invitation">
    <button type="button" class="btn btn-success">Find your invitation</button>
  </div>
</base-page>