<div class="landing-page">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-4 landing-photo">
        <img src="assets/images/left-header-img.jpg" alt="Dayton and Laura">
      </div>
      <div class="col-sm-8 welcome-msg">
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2">
            <div class="welcome">
              Welcome!
            </div>
            <div class="msg">
              Thank you for visiting our wedding webiste! 
              <span *ngIf="!isAuthorized">In order to see all the details of our wedding, please enter the 
                event code found on your invitation. If you do not enter an event code, 
                some of the information will be hidden.
              </span>
              <span *ngIf="isAuthorized">You have already entered a valid event code.</span>
            </div>
            <div *ngIf="!isAuthorized" class="event-code-form">
              <input #eventKey type="text" class="form-control" placeholder="Event code" (keyup.enter)="validateGuest(eventKey.value)" (keyup)="inputUpdated()">
              <div *ngIf="isInvalidEventCode"
                class="text--white">
                <p>The event code you entered was invalid.</p>
              </div>
              <button type="button" class="btn btn-success" (click)="validateGuest(eventKey.value)">Continue</button>
              <button routerLink="/our-story" routerLinkActive="active" type="button" class="btn btn-danger" (click)="scrollTop()">Continue without event code</button>
            </div>
            <div *ngIf="isAuthorized" class="event-code-form">
              <button type="button" class="btn btn-success" (click)="validateGuest()">Continue</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>