<div class="landing-page">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-4 landing-photo">
        <img src="assets/images/left-header-img.jpg" alt="Dayton and Laura">
      </div>
      <div class="col-sm-8 welcome-msg">
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2">
            <div class="welcome">
              Welcome!
            </div>
            <div class="msg">
              Thank you for visiting our wedding webiste! In order to see all
              the details of our wedding, please enter the event code found on your invitation.
              If you do not enter an event code, some of the information will be hidden.
            </div>
            <div class="event-code-form">
              <input type="text" class="form-control" placeholder="Event code">
              <button type="button" class="btn btn-success">Continue</button>
              <button routerLink="/our-story" routerLinkActive="active" type="button" class="btn btn-danger">Continue without event code</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>