<header class='main container-fluid'>
    <div class='row'>
        <figure class='col-md-12 no-padding'>
            <img src='assets/images/header-img.jpg' alt='Dayton and Laura'>
        </figure>
<!--
        <article class='wedding-info col-md-4'>
            <header>
                <span>Join us</span>
                <span>September 2nd, 2017</span>
            </header>
            <div class='time-remaining'>
                {{time-remaining}}
            </div>
        </article>-->
    </div>
</header>

<div class='container'>
    <div class='col-md-offset-3 col-md-6'>
        <nav class='links'>
            {{#link-to 'our-story'}}
                Our Story
            {{/link-to}}
            {{#link-to 'registry'}}
                Registry
            {{/link-to}}
            {{#link-to 'travel-info'}}
                Travel Information
            {{/link-to}}
            {{#link-to 'rsvp'}}
                RSVP
            {{/link-to}}
        </nav>

        <main>
            {{outlet}}
        </main>
    </div>
</div>