<div class='container'>
    <div class='header'>
        
    </div>
    <div class='links'>
        {{#link-to 'our-story'}}
            Our Storyy
        {{/link-to}}
        {{#link-to 'registry'}}
            Registry
        {{/link-to}}
        {{#link-to 'travel-info'}}
            Travel Information
        {{/link-to}}
    </div>
    <div class='body'>
        {{outlet}}
    </div>
</div>