<div class='container'>
    <div class='row'>
        <div class='header col-md-8'>
            
        </div>
        <div class='wedding-info col-md-4'>
            Join us in {{days-remaining}} days on September 2nd, 2017!
        </div>
    </div>
    <div class='links'>
        {{#link-to 'our-story'}}
            Our Story
        {{/link-to}}
        {{#link-to 'registry'}}
            Registry
        {{/link-to}}
        {{#link-to 'travel-info'}}
            Travel Information
        {{/link-to}}
    </div>
    <div class='body'>
        {{outlet}}
    </div>
</div>