{{#main-content title='Our Story'}}
    <div class='our-story'>
        <p>
            Laura and I first met in 2011 during our junior year of high school at a Subway.
            Talk about <em>romantic</em>! I soon began finding ways to spend more and more time with her.
        </p>
        <p>
            After a few weeks, I decided that asking her to be my prom date was the best move. 
            Surprisingly, she said yes! Although Laura was at first unsure about our future (<em>boo</em>), I was not discouraged.
            Our first true date was at Chipotle (at least a step up from Subway), and we started officially dating shortly after prom ツ
        </p>
        <p>
            Within two weeks of dating, I knew that Laura was the one. I was so excited that <em>even told her</em>!
            She was caught off guard, and said, "Isn't marriage for old people?" I had <em>clearly</em> jumped the gun,
            but she continued to give me a shot.
        </p>
        <p>
            The next year flew by and we were soon both accepted at UNC Chapel Hill. We were going to be <em>Tar Heels</em>!
            We continued to get closer and closer throughout our years together at college.
            Eating in the dining hall, studying in the library, and going on runs all over campus are just a few of the
            activities we spent hours doing together.
        </p>
        <p>
            Before we knew it, we were both seniors. I began applying to jobs as a software engineer, and Laura
            was (unsurprisingly) accepted at the UNC School of Pharmacy.
            On July 30th, 2016, Laura and I went on a walk to one of our favorite places, and I asked her to marry me.
        </p>
        <p>
            We <em>cannot wait</em> until you join us in
                <div class='time-remaining'>
                    {{time-remaining}} 
                </div>
            on one of the happiest days of our life (so far).
            We love spending our lives together, and we look forward to sharing our <em>special</em> day with you as well!
        </p>
    </div>
{{/main-content}}