{{#main-content title="Registry"}}
    <p>
        We are looking forward to seeing you at our wedding! 
        If you wish to purchase a gift, you can find some suggestions at the links below.
    </p>
    <p>
        Please bring any gifts to the wedding or have them shipped to 940 Tanworth Dr, Raleigh, NC 27615.
    </p>

    <hr>

    <section class="row stores">
        <div class="col-xs-6">
            <figure>
                <a href="https://www.bedbathandbeyond.com/store/giftregistry/view_registry_guest.jsp?pwsToken=&eventType=Wedding&inventoryCallEnabled=true&registryId=544333849&pwsurl=" target="_blank">
                    <img src="assets/images/bed-bath-beyond.png" alt="Bed Bath & Beyond">
                </a>
            </figure>
        </div>
        <div class="col-xs-6">
            <figure>
                <a href="https://secure.williams-sonoma.com/registry/gsnf258t9d/registry-list.html" target="_blank">
                    <img src="assets/images/williams-sonoma.svg" alt="Williams Sonoma">
                </a>
            </figure>
        </div>
        <div class="col-xs-6">
            <figure>
                <a href="https://www.macys.com/wgl/registry/guest/6751542" target="_blank">
                    <img src="assets/images/macys.png" alt="Macy's">
                </a>
            </figure>
        </div>
        <div class="col-xs-6">
            <figure>
                <a href="https://www.honeyfund.com/wedding/FinallyBobbitt" target="_blank">
                    <img src="assets/images/honeyfund.png" alt="Honeyfund">
                </a>
            </figure>
        </div>
    </section>
{{/main-content}}