{{#main-content title='RSVP'}}
    {{#if model.hasRsvp}}
        <h2 class='rsvp-success'>You are RSVP'd :)</h2>
    {{else}}
        <div class='rsvp-form'>
            {{input type='text' class='form-control' value=model.firstName placeholder='First name' key-press=(action resetIsNotFound model)}}
            {{input type='text' class='form-control' value=model.lastName placeholder='Last name' key-press=(action resetIsNotFound model)}}
            <button type='button' class='btn btn-success' {{action 'pushModel' model}}>Find your invitation</button>

            <div>
                {{#if model.isNotFound}}
                    Oops...it looks like we couldn't find your invitation
                {{/if}}
            </div>
        </div>
    {{/if}}
{{/main-content}}