<section>
    {{#if model.hasRsvp}}
        <header>
            <h2 class='rsvp-success'>You are RSVP'd :)</h2>  
        </header>
    {{else}}
        <header>
            <h2>Let us know you're coming</h2>
        </header>

        {{input type='text' value=model.address placeholder='Please RSVP using your address' enter=(action 'pushModel' model)}}
        <button class='btn-success' {{action 'pushModel' model}}>RSVP</button>
    {{/if}}
</section>