{{#main-content title='Travel Information'}}
    <p>
        Thank you for making the trip to join us on our special day! 
        We have reserved rooms for you at a discount price at the Raleigh Marriott Crabtree Valley. 
        Please contact them for more information. 
    </p>
    <section>
        <h4>Hotel</h4>
        <p>Address: <a href="https://goo.gl/8ERg9M" target="_blank">4500 Marriott Dr, Raleigh, NC 27612</a></p>
        <p>Phone: (919) 781-7000</p>
    </section> 
{{/main-content}}